.dynamic-container {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: aqua;
  height: fit-content;
}

.dynamic-container aside {
  width: 200px;
}

.navigation-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* margin-left: 20px; */
}

.footer-socialmedia-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

a.active {
  color: brown;
}
